html, body {
    height: 100%;
    margin: 0;
}

.rating {
    background-image: linear-gradient(to bottom right, #d50a72,#143ca4);
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.smiley {
    max-width: 50%;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 8px 28px rgba(45, 45, 45, 0.8);
    cursor: pointer;
    transition: 0.3s;
}
    .smiley:hover, .smiley:hover ~ i {
        color: gold;
    }

.checked {
    color: gold;
}

/* ~ */